includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Http\\Request::\$#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory::#'
        - '#Access to an undefined property App\\Models\\[A-Za-z]+::\$#'
        - '#Call to an undefined static method App\\Models\\[A-Za-z]+::#'
        - '#Method .+ should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View#'